{% extends "partial/firedrop_layout.html.twig" %}

{% block title %}DMCA Policy{% endblock %}
{% block description %}Welcome to the Firedrop dmca policy. Please read and understand it fully.{% endblock %}
{% block keywords %}dmca, policy{% endblock %}
{% block selected_navigation_link %}faq{% endblock %}

{% block body %}
<div id="wrap">
<section id="content_header">
	<div class="container text-center">
		<h1>DMCA Policy</h1>
    </div>
</section>


<section id="content_box" class="container">

<p>
If your copyrighted or trademarked works are being distributed through the Firedrop service without your permission, please email our abuse team using our <a href="/report_file">Abuse Contact Form</a> or via email at dmca.agent@firedrop.com, and describe the work that has been infringed, where it is located on the website, and provide your contact information and a statement, made under penalty of perjury, that the information in your notice is accurate and that you are the owner, or authorized by the owner, of the copyrighted or trademarked work. Valid requests will be serviced after notice with sufficient information.<br />
<br />
Copyright is a form of protection so creators and subsequent owners of original works can control how the works are used. Copyright infringement occurs when a copyrighted work is reproduced, distributed, performed, publicly displayed, or made into a derivative work without the permission of the copyright owner. Violating the copyright owner's rights can lead to suspension of that Content in your account on Firedrop, a strike and account suspension. These acts can be criminal. Additionally, copyright owners can take civil action against you and possibly be awarded monetary damages.<br />
<br />
<strong>Filing a Copyright Infringement Notification</strong><br />
<br />
Firedrop LTD complies with the Digital Millennium Copyright Act (DMCA) and promptly suspends Content from access when properly notified.<br />
<br />
To file a copyright infringement notification with Firedrop LTD, you will need to send a written notification that includes substantially the information required by and stated in Section 512(c)(3) of the Digital Millennium Copyright Act.<br />
<br />
Persons or entities who have large numbers of files or a frequent need to notify Firedrop LTD of copyright infringement may apply to Firedrop LTD for access to Firedrop LTD's DMCA Dynamic Notification System. Please contact our DMCA agent to apply<br />
<br />
Required Information:<br />
<ul><br />
    <li>Identify yourself as either: a) The owner of a copyrighted work(s), or b) A person "authorized to act on behalf of the owner of an exclusive right that is allegedly infringed." Include a physical or electronic signature.</li><br />
    <li>Identify the copyrighted work claimed to have been infringed.</li><br />
    <li>Identify the Content that is claimed to be infringing or to be the subject of the infringing activity and that is to be suspended or access to which is to be disabled, as well as information reasonably sufficient to permit Firedrop LTD to locate the Content. Providing URLs are required to help us locate the Content.</li><br />
    <li>Provide contact information that is reasonably sufficient to permit us to contact you, such as an address, telephone number, and a valid email address.</li><br />
    <li>State that you have a good faith belief that use of the Content in the manner complained of is not authorized by the copyright owner, its agents, or the law.</li><br />
    <li>State that the information in the notification is accurate and under penalty of perjury the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
</ul><br />
The information provided in this legal notice will be forwarded to the person who provided the allegedly infringing Content. See "Counterclaim".<br />
<br />
Upon receipt of valid notification, as required by law, we will suspend access to Content from our website. If a counterclaim is not filed, or is unsuccessful, access to the Content is permanently suspended from our Service.<br />
<br />
Contact information of the party reporting the file, which may include name, email address and physical address will be given to anyone attempting to access the Content.<br />
<br />
Users who have the same Content in their account will receive a warning that the file has been reported for copyright infringement and distribution will be restricted. You, the reporting party, may be contacted asking you to notify Firedrop LTD to release the Content for distribution. If you feel the request is valid, submit a support ticket and provide links to those particular files.<br />
<br />
In accordance with our Terms of Service and Privacy Policy, non-public information about Firedrop LTD account holders is not released except as lawfully required by appropriate legal process such as a subpoena, court order, or other valid legal process. For further legal process, see Table 1 about information retention.<br />
<br />
<strong>Designated Copyright Agent</strong><br />
<br />
Firedrop LTD Designated Copyright Agent to receive notifications and counter-notifications of claimed infringement can be reached as follows: Attention: DMCA Agent, Firedrop LTD, 17 Park Street, Mid Glamorgan, CF37 1SN or by email at dmca.agent@firedrop.com. For clarity, only DMCA notices should go to dmca.agent@firedrop.com. Any other feedback, comments, requests for technical support or other communications should be directed to the Firedrop LTD <a href="/contact">Customer Support Center</a>. You acknowledge that if you fail to comply with all of the requirements of this section, your DMCA notice may not be valid.       
</div>

</p>

</section>
{% endblock %}